
/*--------------------------------------------------------------
# Coming Soon Sections
--------------------------------------------------------------*/
#coming_soon_body{
  background: url('https://cleanspace.ph/assets/img/hero/coming_soon_bg.png') no-repeat fixed;
  background-size: cover;
  background-position:center; 
  /*padding: 13% 0px;*/
  height: 100%;
}
#coming_soon_hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#coming_soon_hero h1 {
  margin: 0 0 20px 0;
  font-size: 60px;
  font-weight: bolder;
  color: black;
}
#coming_soon_hero h2 span {
  color: black;
  border-bottom: 4px solid #1acc8d;
}
#coming_soon_hero h2 {
  color: rgb(57 55 55 / 92%);
  margin-bottom: 15px;
  font-size: 32px;
}
#coming_soon_hero h3 {
  color: black;
  font-size: 25px;
}
#coming_soon_hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
.coming_soon_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 575px) {
 /* #hero .hero-img img {
    width: 80%;
  }*/
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 991px) {
  #coming_soon_hero{
    padding: 120px 0%;
  }
  #coming_soon_hero h1{
    font-size: 50px;
    margin: 0;
  }
  #coming_soon_hero h2{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0px;
  }
  /*=========================================*/
  #hero, #cleanspace-ex{
    padding: 150px 0%;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  .hero_text h1  {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 10px;
  }
  #hero h2, #cleanspace-ex h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
